.container {
  height: 950px;
  width: 1000px;
  background-color: gray;
  padding: 20px;
}

h1 {
  text-align: center;
}
h3 {
  text-align: center;
  text-decoration: underline;
}
.picture {
  height: 200px;
}

.topContainer {
  height: 250px;
  width: 1000px;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.midContainer {
  height: 250px;
  width: 1000px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.botContainer {
  height: 250px;
  width: 1000px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
