/* NAV BAR AREA */
nav {
  height: 50px;
  width: 800px;
  display: flex;
  justify-content: left;
  margin: 0 auto;
  align-items: center;
  background-color: black;
  color: white;
  padding-left: 20px;
  font-size: 32px;
}
/* YOUR FEED */
.feed {
  height: 50px;
  width: 820px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

/* CONTAINER FOR THE MAIN PORTION OF THE PAGE */
.container {
  display: flex;
  margin: 0 auto;
  height: 800px;
  width: 820px;
}

/* LEFT SIDE OF THE PAGE */

.left {
  flex: 1;
  padding-right: 10px;
  display: flex;
  margin: 0 auto;
}
.user-info {
  height: 350px;
  width: 260px;
  background-color: white;
  border: 2px solid black;
}

.user-top {
  height: 175px;
  width: 260px;
  display: flex;
  margin: 0 auto;
}

.user-bottom1 {
  height: 30px;
  width: 260px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.avatar {
  font-size: 20px;
}

.user-bottom2 {
  height: 86px;
  width: 260px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.user-picture {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  margin-top: 50px;
}

/* RIGHT SIDE OF THE PAGE */
.right {
  flex: 2;
  padding-left: 10px;
}

/* BOX WITH USER INFO AND LIKE BUTTON */
.container-user {
  height: 250px;
  border: 2px solid black;
  margin-bottom: 20px;
}

/* TOP HALF OF THE CONTAINER */
.top {
  height: 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* THINGS FOR THE LIKE BUTTON */
.count,
.count2,
.count3 {
  color: black;
}

.like-button,
.like-button2,
.like-button3 {
  height: 30px;
  width: 60px;
  background-color: yellow;
  color: black;
  box-shadow: 3px 3px 0px black;
  margin-right: 10px;
}

div h2 {
  margin-left: 10px;
}

/* BOTTOM HALF OF THE CONTAINER */
.bottom {
  height: 125px;
  display: flex;
  text-align: left;
  font-size: 24px;
  padding-left: 10px;
}
